/* Styling for Homepage*/

*{
  padding: 0;
  margin: 0;
  font-family: verdana;
}

.wrapper{
  background: url(images/nurse.jpg); 
  background-size: cover;
  height: 100vh;
}

nav {
width: 100%;
height: 80px;
background-color: rgba(0, 0, 0, 0.4);
line-height: 80px;
}

nav ul {
float: right;
}

nav ul li {
list-style-type: none;
display: inline-block;
}

nav ul li a {
text-decoration: none;
color: #ffff;
padding: 30px;
transition: .4s;
}
nav ul li:hover {
background-color: #D3D3D3;
}


.wrapper .center{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#mainpageh1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainpageh2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center h1 {
  color: Grey;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}

.center h2 {
  color: grey;
  font-size: 65px;
  font-weight: bold;
  width: 885px;
  margin-top: 10px;
  text-align: center;
}

.center .buttons{
  margin: 35px 280px;
}

.buttons button{
  width: 150px;
  font-size: 17px;
  height: 55px;
  font-weight: bold;
  color: #D3D3D3;
  background-color: rgb(126, 126, 126);
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

#btn{
  margin-left: 25px;
}

.buttons button:hover {
  background: rgb(68, 68, 68);
}

/* moazs styles  */
#moaz {
    font-size: xx-large;
    color: darkblue;
    text-align: center;
    text-decoration: blue underline;
    text-shadow: 2px 2px 5px blue;
  }

  #moaz2 {
    color: darkblue;
    text-align: left;
    text-shadow: 2px 2px 5px blue;
  }
  
  body {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: rgb(188, 188, 212);
  }


  #round-container {
    border-radius: 25px;
    background:lightblue;
    padding: 15px; 
    width: 300px;
    height: auto;
    text-align: left;
    margin: 10px;
    /* border: 15px solid green;   */
  }

  #round-container2 {
    border-radius: 25px;
    background:lightblue;
    padding: 15px; 
    width: auto;
    height: auto;
    text-align: left;
    margin: 10px;
    /* border: 15px solid green;   */
  }

  table {
    width: 100%;
    background-color: rgb(0, 191, 255);
    color: black;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
  }

  tr, th{
    border-bottom: 1px solid black;
  }
  
  tr:hover {background-color: rgb(62, 179, 218);}
  th:hover {background-color: rgb(62, 179, 218);}
  
  .directionButton {
    background-color: rgb(6, 6, 56); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.s;
    cursor: pointer;
  }

  .directionButton:hover {
    background-color: red;
    color: black;
  }
